/* BODY */

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../images/circuit.png");
    color: #777;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;

}

/* IMAGE */
#image {
    float: left;
    margin-right: 10px;
}

/* NAME */
.name {
    float: left;
}

/* HEADING */

h2 {
    clear: both;
    color: #4aaaa5;
    font-family: 'Bree Serif', serif;
    letter-spacing: 1px;
    margin-left: 5%;
}

/* NAVIGATION */

.navi {
    margin-top: 0%;
    display: flex;
    flex-flow: row wrap;
    background: #fff;
    background-color: #fff;
    justify-content: space-around;
    margin: auto;

}

nav {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: auto;

}

/* HR STYLING */
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.new1 {
    background-color: #fff;
    border-top: 1px solid rgb(red, green, rgb(97, 97, 97));
    width: 90%;
}

/* BORDER FOR NAVI */

.border {
    border-right: #4aaaa5 1px dashed;
}

/* TITLE */

.title {
    color: #fff;
    background-color: #4aaaa5;
    border: 2px solid #ccc;
    font-family: 'Bree Serif', serif;
    letter-spacing: 2px;
    padding: 15px;
    float: left;
    margin: auto;
    }

/* CONTENT */

.content {
    clear: both;
    background-color: #fff;
    margin: auto;
    width: 960px;
    position: absolute;
    left: 20%;
    top: 20%;
    padding: 15px;
    line-height: 150%;
    word-wrap: normal;

}

/* EXAMPLES */

.example {
    position: relative;
    float: left;
}

/* PARAGRAPH */
.para {
    padding: 10px;
    line-height: 150%;
    word-wrap: normal;
    text-align: justify;
    text-justify: inter-word;
}

/* LINK DECO */
a:link, a:visited {
    background-color: white;
    color: #777;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    float: left;
  }

  a:hover, a:active {
    background-color: #4aaaa5;
    color: white;
  }

  /* FOOTER */

 .footer{
    clear: both;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0%;
    margin-top: 70%;
    background-color: #808080;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 15px;
    border-top: 5px solid #4aaaa5;
  }

  /* PORTFOLIO PAGE */

  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  .games {
    position: absolute;
    top: 45.9%;
    margin-left: 11.6%;
    background-color: #4aaaa5;
    color: #fff;
    padding: 15px;
  }
